@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-title: var(--font-league-spartan), var(--font-jost), 'Satoshi', 'Glacial Indifference',
      sans-serif;
    --font-copy: var(--font-jost), 'Satoshi', 'Glacial Indifference', var(--font-league-spartan),
      sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-title);
    font-weight: 800;
    letter-spacing: 0.01em;
  }

  :root {
    --background: 222 35% 5%;
    --foreground: 0 0% 74.9%;

    --card: 210 28.8% 28.6%;
    --card-foreground: 0 0% 74.9%;

    --popover: 210 28.8% 28.6%;
    --popover-foreground: 0 0% 74.9%;

    --primary: 203.7 77.2% 48.2%;
    --primary-foreground: 0 0% 96%;

    --secondary: 185.4 100% 60.8%;
    --secondary-foreground: 222 35% 5%;

    --muted: 210 28.8% 28.6%;
    --muted-foreground: 0 0% 62%;

    --accent: 185.4 100% 60.8%;
    --accent-foreground: 222 35% 5%;

    --destructive: 354 70% 55%;
    --destructive-foreground: 0 0% 96%;

    --border: 210 28.8% 34%;
    --input: 210 28.8% 28.6%;
    --ring: 203.7 77.2% 48.2%;

    --radius: 0.5rem;

    --success: 185.4 100% 60.8%;
    --warning: 44 90% 62%;
    --error: 354 70% 55%;
  }

  [data-theme='dark'] {
    --background: 222 35% 5%;
    --foreground: 0 0% 74.9%;

    --card: 210 28.8% 28.6%;
    --card-foreground: 0 0% 74.9%;

    --popover: 210 28.8% 28.6%;
    --popover-foreground: 0 0% 74.9%;

    --primary: 203.7 77.2% 48.2%;
    --primary-foreground: 0 0% 96%;

    --secondary: 185.4 100% 60.8%;
    --secondary-foreground: 222 35% 5%;

    --muted: 210 28.8% 28.6%;
    --muted-foreground: 0 0% 62%;

    --accent: 185.4 100% 60.8%;
    --accent-foreground: 222 35% 5%;

    --destructive: 354 70% 55%;
    --destructive-foreground: 0 0% 96%;

    --border: 210 28.8% 34%;
    --input: 210 28.8% 28.6%;
    --ring: 203.7 77.2% 48.2%;

    --success: 185.4 100% 60.8%;
    --warning: 44 90% 62%;
    --error: 354 70% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
    font-family: var(--font-copy);
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.6;
  }

  p,
  span,
  li,
  a,
  label,
  input,
  textarea,
  select,
  button {
    font-family: var(--font-copy);
    font-weight: 400;
  }

  button {
    font-size: 0.95rem;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
